---

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<h1>Hola Alfgos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam odit ullam dolor recusandae fugiat? Nisi tempore aliquam fugit suscipit atque labore totam a doloribus sint ducimus, dolore, vel, culpa accusantium.</p>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

